/*styling the body*/
body{
	margin: 0;
	padding: 0;
	background-image: url('images/maincover.png');
	background-size: cover;
	background-size: cover;
	background-position: center center;
	font-family: georgia;
	height: 100vh;
}
/*styling navbar at the top*/
.link-background a{
	padding: 5vh 4vh 0.5vw 0.5vw;
	cursor: pointer; 
	float: right;
	display:flex;
	justify-content:center;
	margin:auto;
}

.link-background:after {
	content: "";
	clear: both;
	display: table;
}
.left
{
	font-size:1.5vw;
    position: relative;
	text-decoration: none;
	color: white;
}

.left:before {
	color: white;
	content: "";
	position: absolute;
	width: 0;
	height: .2vh;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.left:hover:before {
	color: white;
	visibility: visible;
	width: 84%;
}
/*styling the box for the title*/
.wrapper{
	position: relative;
	padding:5%;
	width:45vw;
	height:40vh;
	border: 0.2vw solid purple;
	background: rgba(0, 0, 70, 0.3);
	margin:auto;
}
/*header 1 styling*/
h1{
	font-size: 5vw;
	padding:5vh 0vw 8vh 0vw;
	margin: 0;
	text-shadow: 0 2px 0 rgba(0,0,0,1);
	animation: color-change infinite 8s;
	text-align:center;
}
/*color changing animation*/
@keyframes color-change{
	0%{
		color:lightgreen;
		text-shadow: 1px 1px 1px #000, 3px 3px 5px lightgreen; 
	}
	25%{
		color:lightblue;
		text-shadow: 1px 1px 1px #000, 3px 3px 5px lightblue; 
	}
	50%{
		color:springgreen;
		text-shadow: 1px 1px 1px #000, 3px 3px 5px palegreen; 
	}
	75%{
		color:pink;
		text-shadow: 1px 1px 1px #000, 3px 3px 5px lightpink;
	}
	100%{
		color:#f2f2f2;
		text-shadow: 1px 1px 1px #000, 3px 3px 5px #ffffff;
	}
}
/*button styling*/
.button_cont{
	text-align:center;
}
.btn {
   border-radius: 1vw;
   background: linear-gradient(to right,hotpink,purple);
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 2vw;
   padding: 1vw;
   width: 200vw;
   cursor: pointer;
   margin: 2vw;
 }
 .btn span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .btn span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -2vw;
   transition: 0.5s;
 }
 .btn:hover span {
   padding-right: 1vw;
 }
 .btn:hover span:after {
   opacity: 1;
   right: 0;
 }
 /*styling validators*/
.validator{	
	width:10vw;
	height:4vw;
	display:inline-block;
}	