/*styling body*/
body{
	margin:0;
	color:white;
}
/*styling the first page to fill up whole screen*/
#page1{
	height:100vh;
	background-image:url('images/futurebackground.jpg');
	background-size:cover;
}
/*styling headers*/
h1{
	text-align:center;
	font-size:5vw;
	border-radius:5vw;
	background: linear-gradient(to right,purple,violet,magenta,pink,magenta,violet,purple);
	padding: 3%;
}
h2{
	font-size:4vw;
	text-align: center;
	color:pink;
}
h3{
	font-size:3vw;
}
h4{
	font-size:2vw;
}
/*styling paragraphs*/
p{
	font-family:'gill sans', sans-serif;
	font-size:1.5vw;
}
/*styling sections*/
div{
	padding:2%;
}
/*formatting link buttons*/
.top-links{
    background: linear-gradient(lightblue,green,turquoise);
	width:14vw;
	height:2vw;
	border: .1vw solid green; 
	border-radius: 2vw;
	cursor: pointer; 
	float: left; 
	display: flex;
	justify-content: center;
	margin-right:4vw;
}

/*button style on hover*/
.top-links:hover {
	background: linear-gradient(lightblue,#50c878,turquoise);
	text-decoration:underline;
}
/*button no hover*/
.top-links{
	color:white;
	font-size:1.5vw;
	text-decoration:none;
	vertical-align: middle;
}
.container{
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 23%;
}
/*styling button to return to top*/
#to-home{
	padding:4vw 0 4vw 0;
}
#backbutton{
	width:22vw;
	height:4vw;
	border-radius: 3vw;
	cursor: pointer;  
	display: flex;
	justify-content: center;
	color:white;
	font-size:3vw;
	text-decoration:none;
	background: linear-gradient(#ff9933,orange,#ff9933);
	border: .1vw solid pink; 
	margin:auto;
	margin-top:12vh;
	border: .1vw solid #ff9933; 
}
#backbutton:hover{
	background: linear-gradient(#ffe233,#ff9933,#ffe233);
	text-decoration:underline;
}
/*styling other pages*/
#page2{
	background-image:url('images/expansionfuture.jpg');
	background-size:cover;
}
#page3{
	background-image:url('images/futurevideo.jpg');
	background-size:cover;
}
#page4{
	background-image:url('images/futuresound.jpg');
	background-size:cover;
}
/*styling sound card table*/
#sound,tr,td,th{
	position:relative;
	border:1px solid white;
	border-collapse: collapse;
	margin:auto;
	color:white;
	font-size:1.5vw;
	background-color:rgba(0,96,255,0.2);
	text-align:left;
	padding-left:1vw;
}
/*styling video card table*/
#video,tr,td,th{
	position:relative;
	border:1px solid white;
	border-collapse: collapse;
	margin:auto;
	color:white;
	font-size:1.5vw;
	background-color:rgba(0,0,0,0.2);
	padding-left:1vw;
}
th{
	text-align:center;
}
/*styling validators*/
#validators{
	background-color:blue;
}

.validator{	
	width:10vw;
	height:4vw;
	display:inline-block;
}		